/* Variable */ 
:root {
    --hellviolet: #ebd1f6;
    --dunkelviolet: #73407b;
    --weiss: #E9D4D4;
    --font-size-title: 5rem;

    --background: rgb(53, 40, 74);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

.lottie-bg {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-size: cover;

    z-index: -1;
    pointer-events: none;
}

 

.title {
  font-family: "council", serif;
  font-size: var(--font-size-title);
  /* letter-spacing: 0.3rem; */
  font-weight: 400;
  color: var(--weiss);
  margin-top: 2rem;
}
  

.text {
  font-family: "Cuprum", sans-serif;
  color: var(--hellviolet);
}

.kugel-wrapper {
    position: relative;
    width: 40rem;
    max-width: 90vw;
    aspect-ratio: 1 / 1;
    margin: 1rem auto;
}


.lottie-kugel-auge {
    position: absolute;
    pointer-events: none;

    inset: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
}

#ClickMeButton {
    position: absolute;
     z-index: 2;
    top: 33%;
    left: 59%;
    transform: translate(-50%, -50%);
    font-family: "council", serif;
    font-size: 4rem;
    color: var(--weiss);
    letter-spacing: 0.18rem;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s
}

#ClickMeButton:hover {
    transform: scale(1.1);
}




body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    /* background-color: var(--background); */
     background-image: url("/images/icons/bg-stars-zwei.jpg");
     background-size: cover;

   /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    max-height: 100vh;

    overflow-x: hidden; */

    /* min-height: 100vh; */

    
    display: flex;
    flex-direction: column;
    align-items: center;
}